<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="{{STATIC_URL}}/style.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Einio diary</h1>
            {% for irasas in irasai %}
            <div class="irasas">
            <h2>{{ irasas.pavadinimas }}</h2>
            <p class="data">{{ irasas.data }}</p>
            <p>{{ irasas.tekstas }}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
